body{
	background:#3f3f3f;
	color:black;
	margin-left:0;
	margin-right:0;
	margin-top:0;
}

svg{
	display:block;
	position:fixed;
	right:0;
	top:0;
	white-space:pre-wrap;
}

.buttons{
	margin-top:10px;
	margin-left:10px;
	margin-bottom:20px;
}

text{
	white-space: pre;
}

.lorem{
	font-size:1.5em;	
	width:80%;
}

.log{
	font-style:italic;
	display:inline-block;
	margin-left:10px;

}